jade/pricing.jade
include includes/vars.jade
// Jade Variables
- var PageTitle = "Cymbeo | Pricing"
- var Navigation = "Marketing"
- var page = "pricing"

doctype html
html
  include includes/head.jade
  body
    // C1 Pre Loader
    include components/c1-preloader.jade
    
    // Navigation
    if Navigation == "Platform"
      include includes/Platform-nav.jade
    else
      include includes/nav.jade
      
    // C2 Hero
    //include components/c2-hero.jade
    
    
    // Hero Section
    main.c2.hero
      .c2.square
        .c2.squareBg
          img.c2(src="/images/index-hero.jpg")
        .c2.overlay
      .c2.container
        .c2.halfBlock
          h1.c2.dark.wow.fadeInLeft Choose the Right Plan For You.
          p.c2.wow.fadeInLeft(data-wow-delay=".5s") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tellus magna, venenatis at dapibus sed, rhoncus id velit. Sed quis condimentum eros. Duis a enim leo.
        .c2.buttonBlock.hero
          a.c2.button.grey.wow.fadeInLeft(href="#", data-wow-delay="1s") Request A Demo
  
  
  
  
  
    // C3 Maximize 
    include components/c3-maximize.jade
    
    include includes/cymbiotic-relationship.jade
    include includes/footer.jade

pricing.html

<!-- Link Vars-->
<!--
(href= cms)
(href= mab)
(href= dp)
(href= dam)
(href= signup)
(href= login)
-->
<!-- Jade Variables--><!DOCTYPE html>
<html>
  <head>
    <!-- Page title-->
    <title>Cymbeo | Pricing</title>
    <!-- Meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1" user-scalable="no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.png">
    <!-- Stylesheets-->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/global/animate.css">
    <!-- Javascript-->
    <script src="js/jquery.min.js"></script>
  </head>
  <body>
    <!-- C1 Pre Loader-->
    <!-- Pre-loader
    .c1.pre-loader
      //.c1.loading-bar
      img.c1.animated.fadeInDown(src="images/logo-white.svg")
    -->
    <!-- Navigation-->
    <nav id="marketing">
      <div class="container">
        <div class="marketingLogo"><a href="index.html"><img src="images/logo.svg" alt="Cymbeo Logo"></a></div>
        <div class="menu"><img class="menuIcon" id="menuIcon" src="images/menu.svg"></div>
        <div class="navLinks" id="navMobile">
          <ul class="navUl">
            <div class="mobileLogo"><a class="navLink" href="index.html"><img class="mobil" src="images/mobileLogo.svg"></a></div>
            <div class="close" id="close"></div>
            <li id="dropdownTrigger"><a class="navLink" href="#">Features</a>
              <div class="dropdown" id="dropdown"><img class="triangle" src="images/triangle.svg">
                <ul class="featuresList">
                  <li class="feature"><a class="featureLink featureCMS" href="cms.html"><img class="icon" src="images/cms.svg" alt="Cymbeo | Content Management System"><span class="featureName cms">Content Management System </span></a></li>
                  <li class="feature"><a class="featureLink featureCMAB" href="mobileappbuilder.html"><img class="icon app" src="images/cmab.svg" alt="Cymbeo | Custom Mobile App Builder"><span class="featureName cmab">Custom Mobile App Builder</span></a></li>
                  <li class="feature"><a class="featureLink featureDP" href="digital-piblishing.html"><img class="icon" src="images/dp.svg" alt="Cymbeo | Digital Publishing"><span class="featureName dp">Digital Publishing</span></a></li>
                  <li class="feature last"><a class="featureLink featureDA" href="digital-asset-management.html"><img class="icon" src="images/da.svg" alt="Cymbeo | Digital Asset Management"><span class="featureName da">Digital Asset Management</span></a></li>
                </ul>
              </div>
            </li>
            <li><a class="navLink" href="pricing.html">Pricing</a></li>
            <li><a class="navLink" href="#">Contact Us</a></li>
            <li class="login"><a class="navLink" href="log-in.html">Log In</a></li>
            <li class="signup"><a class="navButton" href="sign-up.html">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- C2 Hero-->
    <!--include components/c2-hero.jade-->
    <!-- Hero Section-->
    <main class="c2 hero">
      <div class="c2 square">
        <div class="c2 squareBg"><img class="c2" src="/images/index-hero.jpg"></div>
        <div class="c2 overlay"></div>
      </div>
      <div class="c2 container">
        <div class="c2 halfBlock">
          <h1 class="c2 dark wow fadeInLeft">Choose the Right Plan For You.</h1>
          <p class="c2 wow fadeInLeft" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tellus magna, venenatis at dapibus sed, rhoncus id velit. Sed quis condimentum eros. Duis a enim leo.</p>
        </div>
        <div class="c2 buttonBlock hero"><a class="c2 button grey wow fadeInLeft" href="#" data-wow-delay="1s">Request A Demo</a></div>
      </div>
    </main>
    <!-- C3 Maximize -->
    <!-- Maximize Section    -->
    <section class="c3 topSection">
      <div class="c3 container">
        <h2 class="c3 dark center wow fadeInDown" data-wow-delay="1s">Maximize your content.</h2>
        <p class="c3 centered wow fadeInDown" data-wow-delay="1s">Cymbeo’s all-in-one simple to use toolkit has all the features you need to keep your sales teams, marketing collateral, and users content up to date.</p>
        <!-- C10 Product Col-->
        <div class="c10 products">
          <div class="c10 product cms wow fadeInDown" id="CMSbox" data-wow-delay="1s">
            <div class="c10 productHeader cms">
              <div class="c10 productOverlay cms">
                <div class="c10 productTitle cms">Content Management System</div>
              </div>
            </div>
            <div class="c10 productBody">
              <p class="c10 productDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in malesuada tellus, id dictum mi. Pellentesque eu nunc vestibulum, consequat orci vitae, faucibus purus.    </p>
              <div class="c10 buttonBlock productButton"><a class="c10 button" href="cms.html">Learn More</a></div>
            </div>
          </div>
          <div class="c10 product mab wow fadeInDown" id="MABbox" data-wow-delay="1s">
            <div class="c10 productHeader mab">
              <div class="c10 productOverlay mab">
                <div class="c10 productTitle mab">Mobile App Builder</div>
              </div>
            </div>
            <div class="c10 productBody">
              <p class="c10 productDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in malesuada tellus, id dictum mi. Pellentesque eu nunc vestibulum, consequat orci vitae, faucibus purus.    </p>
              <div class="c10 buttonBlock productButton"><a class="c10 button" href="mobileappbuilder.html">Learn More</a></div>
            </div>
          </div>
          <div class="c10 product dp wow fadeInDown" id="DPbox" data-wow-delay="1s">
            <div class="c10 productHeader dp">
              <div class="c10 productOverlay dp">
                <div class="c10 productTitle dp">Digital Publishing</div>
              </div>
            </div>
            <div class="c10 productBody">
              <p class="c10 productDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in malesuada tellus, id dictum mi. Pellentesque eu nunc vestibulum, consequat orci vitae, faucibus purus.    </p>
              <div class="c10 buttonBlock productButton"><a class="c10 button" href="digital-piblishing.html">Learn More</a></div>
            </div>
          </div>
          <div class="c10 product dam wow fadeInDown" id="DAMbox" data-wow-delay="1s">
            <div class="c10 productHeader dam">
              <div class="c10 productOverlay dam">
                <div class="c10 productTitle dam">Digital Asset Management</div>
              </div>
            </div>
            <div class="c10 productBody">
              <p class="c10 productDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in malesuada tellus, id dictum mi. Pellentesque eu nunc vestibulum, consequat orci vitae, faucibus purus.    </p>
              <div class="c10 buttonBlock productButton"><a class="c10 button" href="digital-asset-management.html">Learn More</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="cymbiotic-relationship">
      <div class="overlay">
        <div class="container">
          <h2 class="white center">The <span class="bold">Cymbiotic</span> Relationship</h2>
          <p class="white centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tellus magna, venenatis at dapibus sed, rhoncus id velit. Sed quis condimentum eros. Duis a enim leo.</p>
          <div class="buttonBlock center"><a class="button" href="sign-up.html">Get Started Today</a></div>
        </div>
      </div>
    </section>
    <!-- Footer-->
    <footer>
      <div class="container"><img id="footerLogo" src="images/logo.svg" alt="Cymbeo Logo | Simple and Intuitive Content Management System">
        <div class="footerNav">
          <div class="footerColumn">
            <h4 class="footerHeadline blue">Features</h4><a class="footerLink" href="cms.html">CMS</a><a class="footerLink" href="mobileappbuilder.html">Custom Mobile App</a><a class="footerLink" href="digital-piblishing.html">Digital Publishing</a><a class="footerLink" href="digital-asset-management.html">Digital Asset Managment</a>
          </div>
          <div class="footerColumn">
            <h4 class="footerHeadline pink">Company</h4><a class="footerLink" href="sign-up.html">Sign Up</a><a class="footerLink" href="log-in.html">Log In</a><a class="footerLink" href="#">About</a><a class="footerLink" href="#">Contact</a>
          </div>
          <div class="footerColumn">
            <h4 class="footerHeadline orange">Help</h4><a class="footerLink" href="pricing.html">Pricing</a><a class="footerLink" href="#">Video Tutorials</a><a class="footerLink" href="#">Forum</a>
          </div>
          <div class="footerColumn">
            <h4 class="footerHeadline green">Social</h4><a class="footerLink" href="#">Facebook</a><a class="footerLink" href="#">Twitter</a><a class="footerLink" href="#">Github</a><a class="footerLink" href="#">LinkedIn</a>
          </div>
        </div>
        <div class="copyright">Copyright © 2011-2018 Cymbeo inc., All Rights Reserved</div>
      </div>
    </footer>
    <script src="js/functions.js"></script>
    <script src="js/wow.min.js"></script>
    <script>
      wow = new WOW(
      {
        boxClass:     'wow',      // default
        animateClass: 'animated', // default
        offset:       0,          // default
        mobile:       false,       // default
        live:         true        // default
      }
      new WOW().init();
    </script>
  </body>
</html>
